* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    max-width: 1560px;
}

html {
    background: url(https://nyc3.digitaloceanspaces.com/fcw-static-new/app/uploads/2019/08/23152507/FCW-4-compressor.jpg?id=7847);
    background-size: 1500px;
    background-position: top;
    background-repeat: no-repeat;
    background-position-y: -100px;
    background-color: rgb(80, 80, 80);
    background-blend-mode: overlay;
}

header {
    display: flex;
    position: fixed;
}

nav ul {
    display: flex;
    align-items: center;
    margin: -195px 240px;
    list-style-type: none
}

nav li a {
    text-decoration: none;
    color: rgb(215, 215, 215);
    margin: auto 18px;
    font-size: 17px;
    font-weight: 500;
}

nav li a:hover {
    color: white;
}

.logo {
    width: 60px;
    height: 63px;
}

.twitter, .fb, .youtube {
    width: 25px;
    height: 25px;
    margin: auto 7px;
}

.social-media {
    margin: -200px 0px;
}

.logo-div {
    margin: -220px 50px;
}

.content {
    display: block;
    margin: 250px 180px;
}

.first-line {
    color: white;
    font-size: 18px;
    margin: 0px 0px;
}

.second-line {
    font-weight: 550;
    font-size: 70px;
    color: rgb(255, 255, 255);
    margin: 20px auto;
}

.third-line {
    font-size: 21px;
    color:rgb(180, 180, 180);
    margin: 45px auto;
}

.content-2 {
    display: flex;
    background: white;
    justify-content: center;
    margin-top: 375px;
    
}

.picture {
    width: 64px;
    height: 64px;
}

.item-1, .item-2, .item-3, .item-4 {
    margin: 140px 40px;
}

.line-1 {
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    text-align: center;
    font-weight: 550;
}

.line-2 {
    color: rgb(151, 151, 151);
    line-height: 30px;
    text-align: center;
}

.pic-adjust {
    margin: auto 70px;
    border-color: rgb(185, 185, 185);
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    border-radius: 100%;
    border-style: outset;
}

.pic-adjust:hover {
    background: linear-gradient(to right, green, cyan);
}

.content-3 {
    background: url(https://img.freepik.com/free-photo/five-open-books-glasses_23-2147690569.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    height: 500px;
    background-attachment: fixed;
    background-color: rgb(80, 80, 80);
    background-blend-mode: overlay;
}

.st-line {
    color: white;
    font-size: 18px;
    font-weight: 550;
    margin-bottom: 40px;
    text-align: center;
}

.nd-line {
    color: white;
    font-size: 24px;
    line-height: 43px;
    text-align: center;
}

.avatar {
    width: 60px;
    height: 60px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.rd-line {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}

.th-line {
    color: rgb(145, 145, 145);
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}

.content-4 {
    background-color: white;
    padding-top: 90px;
    padding-bottom: 50px;
}

.line1 {
    color:rgb(120, 120, 120);
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}

.line2 {
    font-size: 32px;
    color: #060221;
    margin-bottom: 40px;
    text-align: center;
}

button {
    background: linear-gradient(to right, green, cyan);
    border: none;
    padding: 15px 70px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
    font-size: 17px;
}

button:hover {
    border-style: inset;
}

.gallery {
    background: white;
    padding-top: 85px;
    padding-bottom: 85px;
    display: grid;
    overflow-x: scroll;
    grid: 1fr / 1fr 1fr 1fr 1fr;
    gap: 3.5em;
}

.gallery img {
    width: 780px;
    height: 408px;
}

.content-5 {
    background: white;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    border-bottom: 0.2px solid rgb(221, 221, 221);
}

.box {
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}

.element-1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 80px;
    color: rgb(43, 42, 42);
}

.element-1:hover {
    background: -webkit-linear-gradient(green,cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.element-2 {
    font-size: 14px;
    line-height: 2em;
    letter-spacing: .175em;
}

.content-6 {
    background: white;
    padding-top: 100px;
    align-content: space-around;
}

.item:hover {
    border-style: inset;
    cursor: pointer;
}

.st-element {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.4;
    color: #060221;
    text-align: center;
}

.nd-element {
    font-size: 22px;
    line-height: 1.5454545455em;
    margin-bottom: 4px;
}

.rd-element {
    font-size: 16px;
    line-height: 1.5em;
    color: #9b9b9b;
    margin-top: .35em;
    margin-bottom: .75em;
}

.content-6 img {
    height: 50;
    width: 50;
    border-radius: 100%;
    margin-right: 14px;
}

.display-item {
    display: flex;
    justify-content: center;
}

.footer-display {
    display: flex;
    align-items: center;
}

.item {
    background: rgb(240, 240, 240);
    margin: 70px 0px;
    padding: 45px 45px
}

.text .date {
    color: #9b9b9b;
    font-size: 12px;
    line-height: 1.5em;
    text-transform: uppercase;
}

.text .fcw {
    font-size: 11px;
    line-height: 1.5em;
    font-weight: 400;
    color: #000;
}
